{% extends 'profilemaster/master.html' %}

{% block content %}
<div class="col-sm-12 col-md-12">
    <div class="card card-stats card-round">
        <div class="card-body">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                <div>
                    <h3 class="fw-bold mb-3">Teachert Information</h3>
                </div>
                <div class="ms-md-auto py-2 py-md-0">
                    <a href="{% url 'addteacher' %}" class="btn btn-primary btn-round"><i class="fas fa-plus-circle"></i> Add Teacher</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Teachert List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="basic-datatables" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}