{% extends 'profilemaster/master.html' %}


{% block content %}
<div class="col-sm-12 col-md-12">
    <div class="card card-stats card-round">
        <div class="card-body">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                <div>
                    <h3 class="fw-bold mb-3">Review List</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Review List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="basic-datatables" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Student Id</th>
                <th>Course Name</th>
                <th>Review </th>
                <th>Review Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Student Id</th>
                    <th>Course Name</th>
                    <th>Review</th>
                    <th>Review Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
            </tfoot>
            <tbody>
              
              {% for i in reviewdata %}

              <tr>
                <td>{{i.Imsuser}}</td>
                <td>{{i.CourseName}}</td>
                <td>{{i.Review}}</td>
                <td>{{i.ReviewDate}}</td>
                <td>{{i.Status}}</td>
                <td>
                    <div class="form-button-action">
                      <a href="#" class="btn btn-link btn-primary btn-md">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="#" class="btn btn-link btn-danger btn-md">
                        <i class="fa fa-trash"></i>
                      </a>
                      
                    </div>
                  </td>
              </tr>
                
              {% endfor %}
                
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    
{% endblock content %}
    